<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.BaseAccountRoleMapper">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.BaseAccountRole">
		<id column="account_id" jdbcType="INTEGER" property="accountId"/>
		<id column="role_id" jdbcType="INTEGER" property="roleId"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
	</resultMap>
	<sql id="Base_Column_List">
		account_id, role_id, create_time, create_person
	</sql>
	<select id="selectByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.BaseAccountRoleKey"
			resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from base_account_role
		where account_id = #{accountId,jdbcType=INTEGER}
		and role_id = #{roleId,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="org.open.gateway.portal.persistence.po.BaseAccountRole">
		insert into base_account_role (account_id, role_id, create_time,
		create_person)
		values (#{accountId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{createPerson,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="org.open.gateway.portal.persistence.po.BaseAccountRole">
		insert into base_account_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="accountId != null">
				account_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="accountId != null">
				#{accountId,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.BaseAccountRole">
		update base_account_role
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
		</set>
		where account_id = #{accountId,jdbcType=INTEGER}
		and role_id = #{roleId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.BaseAccountRole">
		update base_account_role
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		create_person = #{createPerson,jdbcType=VARCHAR}
		where account_id = #{accountId,jdbcType=INTEGER}
		and role_id = #{roleId,jdbcType=INTEGER}
	</update>
</mapper>