<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.GatewayAccessLogsMapperExt">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.GatewayAccessLogs">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="path" jdbcType="VARCHAR" property="path"/>
		<result column="client_id" jdbcType="VARCHAR" property="clientId"/>
		<result column="api_code" jdbcType="VARCHAR" property="apiCode"/>
		<result column="route_code" jdbcType="VARCHAR" property="routeCode"/>
		<result column="ip" jdbcType="VARCHAR" property="ip"/>
		<result column="http_status" jdbcType="INTEGER" property="httpStatus"/>
		<result column="http_method" jdbcType="VARCHAR" property="httpMethod"/>
		<result column="http_headers" jdbcType="VARCHAR" property="httpHeaders"/>
		<result column="request_query_string" jdbcType="VARCHAR" property="requestQueryString"/>
		<result column="request_body" jdbcType="VARCHAR" property="requestBody"/>
		<result column="request_time" jdbcType="TIMESTAMP" property="requestTime"/>
		<result column="response_time" jdbcType="TIMESTAMP" property="responseTime"/>
		<result column="used_time" jdbcType="INTEGER" property="usedTime"/>
		<result column="user_agent" jdbcType="VARCHAR" property="userAgent"/>
		<result column="region" jdbcType="VARCHAR" property="region"/>
		<result column="error" jdbcType="VARCHAR" property="error"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, path, client_id, api_code, route_code, ip, http_status, http_method, http_headers, 
    request_query_string, request_body, request_time, response_time, used_time, user_agent, 
    region, error, create_time, create_person
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from gateway_access_logs
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gateway_access_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayAccessLogs" useGeneratedKeys="true">
    insert into gateway_access_logs (path, client_id, api_code, 
      route_code, ip, http_status, 
      http_method, http_headers, request_query_string, 
      request_body, request_time, response_time, 
      used_time, user_agent, region, 
      error, create_time, create_person
      )
    values (#{path,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{apiCode,jdbcType=VARCHAR}, 
      #{routeCode,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{httpStatus,jdbcType=INTEGER}, 
      #{httpMethod,jdbcType=VARCHAR}, #{httpHeaders,jdbcType=VARCHAR}, #{requestQueryString,jdbcType=VARCHAR}, 
      #{requestBody,jdbcType=VARCHAR}, #{requestTime,jdbcType=TIMESTAMP}, #{responseTime,jdbcType=TIMESTAMP}, 
      #{usedTime,jdbcType=INTEGER}, #{userAgent,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, 
      #{error,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}
      )
  </insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayAccessLogs" useGeneratedKeys="true">
		insert into gateway_access_logs
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="path != null">
				path,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
			<if test="apiCode != null">
				api_code,
			</if>
			<if test="routeCode != null">
				route_code,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="httpStatus != null">
				http_status,
			</if>
			<if test="httpMethod != null">
				http_method,
			</if>
			<if test="httpHeaders != null">
				http_headers,
			</if>
			<if test="requestQueryString != null">
				request_query_string,
			</if>
			<if test="requestBody != null">
				request_body,
			</if>
			<if test="requestTime != null">
				request_time,
			</if>
			<if test="responseTime != null">
				response_time,
			</if>
			<if test="usedTime != null">
				used_time,
			</if>
			<if test="userAgent != null">
				user_agent,
			</if>
			<if test="region != null">
				region,
			</if>
			<if test="error != null">
				error,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=VARCHAR},
			</if>
			<if test="apiCode != null">
				#{apiCode,jdbcType=VARCHAR},
			</if>
			<if test="routeCode != null">
				#{routeCode,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="httpStatus != null">
				#{httpStatus,jdbcType=INTEGER},
			</if>
			<if test="httpMethod != null">
				#{httpMethod,jdbcType=VARCHAR},
			</if>
			<if test="httpHeaders != null">
				#{httpHeaders,jdbcType=VARCHAR},
			</if>
			<if test="requestQueryString != null">
				#{requestQueryString,jdbcType=VARCHAR},
			</if>
			<if test="requestBody != null">
				#{requestBody,jdbcType=VARCHAR},
			</if>
			<if test="requestTime != null">
				#{requestTime,jdbcType=TIMESTAMP},
			</if>
			<if test="responseTime != null">
				#{responseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="usedTime != null">
				#{usedTime,jdbcType=INTEGER},
			</if>
			<if test="userAgent != null">
				#{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				#{region,jdbcType=VARCHAR},
			</if>
			<if test="error != null">
				#{error,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.GatewayAccessLogs">
		update gateway_access_logs
		<set>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				client_id = #{clientId,jdbcType=VARCHAR},
			</if>
			<if test="apiCode != null">
				api_code = #{apiCode,jdbcType=VARCHAR},
			</if>
			<if test="routeCode != null">
				route_code = #{routeCode,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="httpStatus != null">
				http_status = #{httpStatus,jdbcType=INTEGER},
			</if>
			<if test="httpMethod != null">
				http_method = #{httpMethod,jdbcType=VARCHAR},
			</if>
			<if test="httpHeaders != null">
				http_headers = #{httpHeaders,jdbcType=VARCHAR},
			</if>
			<if test="requestQueryString != null">
				request_query_string = #{requestQueryString,jdbcType=VARCHAR},
			</if>
			<if test="requestBody != null">
				request_body = #{requestBody,jdbcType=VARCHAR},
			</if>
			<if test="requestTime != null">
				request_time = #{requestTime,jdbcType=TIMESTAMP},
			</if>
			<if test="responseTime != null">
				response_time = #{responseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="usedTime != null">
				used_time = #{usedTime,jdbcType=INTEGER},
			</if>
			<if test="userAgent != null">
				user_agent = #{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				region = #{region,jdbcType=VARCHAR},
			</if>
			<if test="error != null">
				error = #{error,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayAccessLogs">
    update gateway_access_logs
    set path = #{path,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      api_code = #{apiCode,jdbcType=VARCHAR},
      route_code = #{routeCode,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      http_status = #{httpStatus,jdbcType=INTEGER},
      http_method = #{httpMethod,jdbcType=VARCHAR},
      http_headers = #{httpHeaders,jdbcType=VARCHAR},
      request_query_string = #{requestQueryString,jdbcType=VARCHAR},
      request_body = #{requestBody,jdbcType=VARCHAR},
      request_time = #{requestTime,jdbcType=TIMESTAMP},
      response_time = #{responseTime,jdbcType=TIMESTAMP},
      used_time = #{usedTime,jdbcType=INTEGER},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      error = #{error,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>