<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.GatewayAppMapperExt">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.GatewayApp">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="app_name" jdbcType="VARCHAR" property="appName"/>
		<result column="client_id" jdbcType="VARCHAR" property="clientId"/>
		<result column="client_secret" jdbcType="VARCHAR" property="clientSecret"/>
		<result column="register_from" jdbcType="VARCHAR" property="registerFrom"/>
		<result column="status" jdbcType="TINYINT" property="status"/>
		<result column="note" jdbcType="VARCHAR" property="note"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_person" jdbcType="VARCHAR" property="updatePerson"/>
		<result column="is_del" jdbcType="TINYINT" property="isDel"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, app_name, client_id, client_secret, register_from, status, note, create_time, 
    create_person, update_time, update_person, is_del
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from gateway_app
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayApp" useGeneratedKeys="true">
    insert into gateway_app (app_name, client_id, client_secret, 
      register_from, status, note, 
      create_time, create_person, update_time, 
      update_person, is_del)
    values (#{appName,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, 
      #{registerFrom,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{note,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT})
  </insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayApp" useGeneratedKeys="true">
		insert into gateway_app
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appName != null">
				app_name,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
			<if test="clientSecret != null">
				client_secret,
			</if>
			<if test="registerFrom != null">
				register_from,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="note != null">
				note,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updatePerson != null">
				update_person,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=VARCHAR},
			</if>
			<if test="clientSecret != null">
				#{clientSecret,jdbcType=VARCHAR},
			</if>
			<if test="registerFrom != null">
				#{registerFrom,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				#{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.GatewayApp">
		update gateway_app
		<set>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
			<if test="clientId != null">
				client_id = #{clientId,jdbcType=VARCHAR},
			</if>
			<if test="clientSecret != null">
				client_secret = #{clientSecret,jdbcType=VARCHAR},
			</if>
			<if test="registerFrom != null">
				register_from = #{registerFrom,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				update_person = #{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayApp">
    update gateway_app
    set app_name = #{appName,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      client_secret = #{clientSecret,jdbcType=VARCHAR},
      register_from = #{registerFrom,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      note = #{note,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>