<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.GatewayRateLimitMapper">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.GatewayRateLimit">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="policy_name" jdbcType="VARCHAR" property="policyName"/>
		<result column="policy_type" jdbcType="VARCHAR" property="policyType"/>
		<result column="limit_quota" jdbcType="BIGINT" property="limitQuota"/>
		<result column="max_limit_quota" jdbcType="BIGINT" property="maxLimitQuota"/>
		<result column="interval_unit" jdbcType="VARCHAR" property="intervalUnit"/>
		<result column="status" jdbcType="TINYINT" property="status"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_person" jdbcType="VARCHAR" property="updatePerson"/>
		<result column="is_del" jdbcType="TINYINT" property="isDel"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, policy_name, policy_type, limit_quota, max_limit_quota, interval_unit, status, 
    create_time, create_person, update_time, update_person, is_del
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from gateway_rate_limit
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayRateLimit" useGeneratedKeys="true">
    insert into gateway_rate_limit (policy_name, policy_type, limit_quota, 
      max_limit_quota, interval_unit, status, 
      create_time, create_person, update_time, 
      update_person, is_del)
    values (#{policyName,jdbcType=VARCHAR}, #{policyType,jdbcType=VARCHAR}, #{limitQuota,jdbcType=BIGINT}, 
      #{maxLimitQuota,jdbcType=BIGINT}, #{intervalUnit,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT})
  </insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id"
			parameterType="org.open.gateway.portal.persistence.po.GatewayRateLimit" useGeneratedKeys="true">
		insert into gateway_rate_limit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="policyName != null">
				policy_name,
			</if>
			<if test="policyType != null">
				policy_type,
			</if>
			<if test="limitQuota != null">
				limit_quota,
			</if>
			<if test="maxLimitQuota != null">
				max_limit_quota,
			</if>
			<if test="intervalUnit != null">
				interval_unit,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updatePerson != null">
				update_person,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="policyName != null">
				#{policyName,jdbcType=VARCHAR},
			</if>
			<if test="policyType != null">
				#{policyType,jdbcType=VARCHAR},
			</if>
			<if test="limitQuota != null">
				#{limitQuota,jdbcType=BIGINT},
			</if>
			<if test="maxLimitQuota != null">
				#{maxLimitQuota,jdbcType=BIGINT},
			</if>
			<if test="intervalUnit != null">
				#{intervalUnit,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				#{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.GatewayRateLimit">
		update gateway_rate_limit
		<set>
			<if test="policyName != null">
				policy_name = #{policyName,jdbcType=VARCHAR},
			</if>
			<if test="policyType != null">
				policy_type = #{policyType,jdbcType=VARCHAR},
			</if>
			<if test="limitQuota != null">
				limit_quota = #{limitQuota,jdbcType=BIGINT},
			</if>
			<if test="maxLimitQuota != null">
				max_limit_quota = #{maxLimitQuota,jdbcType=BIGINT},
			</if>
			<if test="intervalUnit != null">
				interval_unit = #{intervalUnit,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				update_person = #{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayRateLimit">
    update gateway_rate_limit
    set policy_name = #{policyName,jdbcType=VARCHAR},
      policy_type = #{policyType,jdbcType=VARCHAR},
      limit_quota = #{limitQuota,jdbcType=BIGINT},
      max_limit_quota = #{maxLimitQuota,jdbcType=BIGINT},
      interval_unit = #{intervalUnit,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>