<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.GatewayAppApiMapperExt">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.GatewayAppApi">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="app_id" jdbcType="INTEGER" property="appId"/>
		<result column="api_id" jdbcType="INTEGER" property="apiId"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, app_id, api_id, create_time, create_person
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from gateway_app_api
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gateway_app_api
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
    insert into gateway_app_api (id, app_id, api_id, 
      create_time, create_person)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{apiId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR})
  </insert>
	<insert id="insertSelective" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		insert into gateway_app_api
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="apiId != null">
				api_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="apiId != null">
				#{apiId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		update gateway_app_api
		<set>
			<if test="appId != null">
				app_id = #{appId,jdbcType=INTEGER},
			</if>
			<if test="apiId != null">
				api_id = #{apiId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
    update gateway_app_api
    set app_id = #{appId,jdbcType=INTEGER},
      api_id = #{apiId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>