<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.GatewayAppApiMapper">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.GatewayAppApi">
		<id column="app_id" jdbcType="INTEGER" property="appId"/>
		<id column="api_id" jdbcType="INTEGER" property="apiId"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
	</resultMap>
	<sql id="Base_Column_List">
		app_id, api_id, create_time, create_person
	</sql>
	<select id="selectByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApiKey"
			resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from gateway_app_api
		where app_id = #{appId,jdbcType=INTEGER}
		and api_id = #{apiId,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		insert into gateway_app_api (app_id, api_id, create_time,
		create_person)
		values (#{appId,jdbcType=INTEGER}, #{apiId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{createPerson,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		insert into gateway_app_api
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				app_id,
			</if>
			<if test="apiId != null">
				api_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="apiId != null">
				#{apiId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		update gateway_app_api
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
		</set>
		where app_id = #{appId,jdbcType=INTEGER}
		and api_id = #{apiId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.GatewayAppApi">
		update gateway_app_api
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		create_person = #{createPerson,jdbcType=VARCHAR}
		where app_id = #{appId,jdbcType=INTEGER}
		and api_id = #{apiId,jdbcType=INTEGER}
	</update>
</mapper>