<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.open.gateway.portal.persistence.mapper.OauthClientTokenMapper">
	<resultMap id="BaseResultMap" type="org.open.gateway.portal.persistence.po.OauthClientToken">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="client_id" jdbcType="VARCHAR" property="clientId"/>
		<result column="token" jdbcType="VARCHAR" property="token"/>
		<result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="create_person" jdbcType="VARCHAR" property="createPerson"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="update_person" jdbcType="VARCHAR" property="updatePerson"/>
		<result column="is_del" jdbcType="TINYINT" property="isDel"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, client_id, token, expire_time, create_time, create_person, update_time, update_person, 
    is_del
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from oauth_client_token
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="org.open.gateway.portal.persistence.po.OauthClientToken">
    insert into oauth_client_token (id, client_id, token, 
      expire_time, create_time, create_person, 
      update_time, update_person, is_del
      )
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}
      )
  </insert>
	<insert id="insertSelective" parameterType="org.open.gateway.portal.persistence.po.OauthClientToken">
		insert into oauth_client_token
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
			<if test="token != null">
				token,
			</if>
			<if test="expireTime != null">
				expire_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createPerson != null">
				create_person,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updatePerson != null">
				update_person,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="clientId != null">
				#{clientId,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				#{token,jdbcType=VARCHAR},
			</if>
			<if test="expireTime != null">
				#{expireTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				#{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				#{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.open.gateway.portal.persistence.po.OauthClientToken">
		update oauth_client_token
		<set>
			<if test="clientId != null">
				client_id = #{clientId,jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				token = #{token,jdbcType=VARCHAR},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createPerson != null">
				create_person = #{createPerson,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatePerson != null">
				update_person = #{updatePerson,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.open.gateway.portal.persistence.po.OauthClientToken">
    update oauth_client_token
    set client_id = #{clientId,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>